/* hanyu/style.css */

/*
 * General
 */
:root {
    --col-bg: whitesmoke;
}

 body {
    /* sans-serif */
    font-family: "Microsoft YaHei", "PingFang SC", "Helvetica Neue", Arial, sans-serif;
    /* serif */
    /*font-family: "SimSun", "STSong", "Songti SC", "PMingLiU", "Microsoft JhengHei", "MingLiU", serif;*/
    font-size: 14px;
}

hr {
    margin: 100px 0;
    color: var(--col-so-off);
    border-top: 1px solid var(--col-so-off);
    border-bottom: none;
}

/*
 * Specific
 */

#app {
    height: 250px;
}

#side-boxes {
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 16px;
}

#english, #good-answer {
    margin: 2em;
}

#accuracy-div {
    position: relative;
    left: 50px;
    top: 50px;
    width: 0;
    height: 0;
}

#accuracy {
    position: absolute;
    padding: 4px;
    background-color: var(--col-so-off);
    font-weight: bold;
}

#accuracy img, #accuracy p { margin: 0; }

#input-side-div {
    position: relative;
    margin: 0 auto;
    top: -2em;
    left: 20%;
    width: 0;
    height: 0;
}

#correctness {
    position: absolute;
    display: none;
    width: 4em;
    font-weight: bold;
}

#chars-left {
    position: absolute;
    display: none;
}

#input {
    display: none;
    width: 50%;
    margin: 0 auto;
    font-size: 100%;
    text-align: center;
    background-color: var(--col-bg);
}

.group-title, .prgr, .prgr-val, .prgr-label, .prgr-small-label {
    vertical-align: middle;
}

.group-title {
    display: inline-block;
    width: 100px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.5em;
}

.prgr {
    display: inline-flex;
    justify-content: flex-end;
    margin: 0;
    height: 12px;
    width: 200px;
    background-image: linear-gradient(to right, var(--col-light), GreenYellow);
    border: 1px solid var(--col-dark-main);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
}

.prgr-val {
    height: 100%;
    width: 100%;
    background: var(--col-so-off);
}

.prgr-label {
    padding-left: 0.5em;
}

/*
 * styles for mobile
 */
@media only screen and (max-width: 768px) and (pointer: coarse) and (hover: none) {

    #site {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    body { font-size: 16.8px; /*21px;*/ }

    .group-checkbox {
        display: flex;
    }

    .row {
        flex-direction: column !important;
    }
    .column-l, .column-r {
        margin: 0.5em;
    }

    .prgr {
        width: 120px;
    }
}
