/* hanyu/style.css */

/*
 * General
 */

hr {
    margin: 100px 0;
    color: var(--col-so-off);
    border-top: 1px solid var(--col-so-off);
    border-bottom: none;
}

/*
 * Specific
 */

#app {
    height: 250px;
}

#groups-list-div {
    position: relative;
    margin: 0 auto;
    top: -2.5em;
    left: 1em;
    width: 0;
    height: 0;
}

#groups-list {
    position: absolute;
    width: 200px;
    text-align: left;
    font-size: 90%;
    color: var(--col-off);
}

#english, #good-answer {
    margin: 2em;
}

#accuracy-div {
    position: relative;
    margin: 0 auto;
    left: -400px;
    top: 200px;
    width: 0;
    height: 0;
}

#accuracy {
    position: absolute;
    display: none;
    padding: 4px;
    background-color: var(--col-so-off);
    border: 1px solid var(--col-main);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.5);
    font-weight: bold;
}

#accuracy img, #accuracy p { margin: 0; }

#correctness-div {
    position: relative;
    margin: 0 auto;
    top: -2em;
    left: 20%;
    width: 0;
    height: 0;
}

#correctness {
    position: absolute;
    display: none;
    width: 4em;
    font-weight: bold;
}

#input {
    display: none;
    width: 50%;
    margin: 0 auto;
    font-size: 100%;
    text-align: center;
}

.group-title {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    text-align: right;
    text-decoration: underline;
}

.prgr {
    display: inline-flex;
    justify-content: flex-end;
    margin: 0 0.5em;
    height: 1em;
    width: 200px;
    background-image:
        linear-gradient(to right, var(--col-light), GreenYellow);
    border: 1px solid var(--col-dark-main);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.5);
}

.prgr-val {
    height: 100%;
    width: 100%;
    background: var(--col-so-off);
}

.prgr-small-label {
    font-size: 90%;
    color: var(--col-off);
}
