/* pokemon/style.css */

@font-face {
  font-family: "Pokemon";
  src: url("../fonts/pokemon_x_y.ttf");
}

/*
 * General
 */

.pokefont {
    font-family: Pokemon;
    font-size: 16px;
}

/*
 * Specific
 */

h1 {
    font-family: Pokemon;
}

#input {
    width: 25%;
    margin: 0 auto;
    font-size: 100%;
    text-align: center;
}

#img-container {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#pokemon-img {
}

#pokemon-name {
    display: none;
    padding: 2px;
    background-color: var(--col-so-off);
    border: 1px solid var(--col-main);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
}
