/* pokemon/style.css */

@font-face {
  font-family: "Pokemon";
  src: url("../fonts/pokemon_x_y.ttf");
}

/*
 * General
 */

.pokefont {
    font-family: Pokemon;
}

.pokemon-containers {
    display: inline-flex;
    width: 240px;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.pokemon-img {
    cursor: pointer;
    display: none;
}

.shiny-img-div {
    position: relative;
    left: 100px;
    width: 0px;
    height: 0px;
}

.shiny-img-div img {
    display: none;
    position: absolute;
    width: 20px;
}

.pokemon-name {
    display: initial;
    padding: 2px;
    background-color: var(--col-so-off);
    border: 1px solid var(--col-main);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
    font-size: 16px;
    cursor: pointer;
}

.pokemon-types {
    display: flex;
    margin: 0.5em auto;
    justify-content: center;
    align-items: center;
}

.pokemon-types img {
    margin: 0 2px;
}

/*
 * Specific
 */

#input {
    width: 25%;
    margin: 0 auto;
    font-size: 100%;
    text-align: center;
}

#containers-father {
    display: flex;
    height: 170px;
    justify-content: center;
    align-items: center;
}

#main-container .img-container {
    border: 1px solid var(--col-main);
    border-radius: var(--border-radius);
}

#previous-containers { justify-content: right; }

#next-containers { justify-content: left; }

#buttons-container { display: none; }

#buttons-container button {
    margin: 1em 0.5em 1em 0.5em;
}

#maingames { display: none; }

#pokemongo { display: none; }

#pokemongo-table {
    width: 100%;
}
