/* pokedex/style.css */

@font-face {
    font-family: "Pokemon";
    src: url("../fonts/pokemon_x_y.ttf");
}

/*
 * General
 */

body {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

th {
    background-color: var(--col-so-off);
}

th, td {
    text-align: center;
    padding: 0.25em 0;
}

tr:nth-child(even) {
    background-color: WhiteSmoke;
}

.pokefont {
    font-family: Pokemon;
}

.pokemon-containers {
    display: inline-flex;
    width: 240px;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 1px hidden var(--col-main);
}

.pokemon-img {
    cursor: pointer;
    display: none;
}

.shiny-img-div {
    position: relative;
    left: 100px;
    width: 0px;
    height: 0px;
}

.shiny-img-div img {
    display: none;
    position: absolute;
    width: 20px;
    z-index: -1;
}

.pokemon-form {
    position: relative;
    width: 0px;
    height: 0px;
    left: 5px;
    bottom: 10px;
}

.pokemon-form p {
    position: absolute;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: -1;
}

.pokemon-name {
    display: inline-block;
    width: max-content;
    margin: 0;
    padding: 2px;
    background-color: var(--col-so-off);
    border: 1px solid var(--col-main);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
    font-size: 16px;
    transform: translateY(-2px);
    cursor: pointer;
}

.pokemon-types {
    display: flex;
    margin: 0.5em auto;
    height: 14px;
    justify-content: center;
    align-items: center;
    transform: translateY(-2px);
}

.pokemon-types img {
    margin: 0 2px;
}

.prgr {
    display: inline-flex;
    justify-content: flex-end;
    font-size: 110%;
    height: 1.5em;
    width: 400px;
    background-image:
        linear-gradient(to right, var(--col-light), GreenYellow);
}

.prgr-val {
    height: 100%;
    width: 100%;
    background: var(--col-so-off);
}

.prgr-small-label {
    font-size: 90%;
    color: var(--col-off);
}

.move {
    padding: 0 0.25em;
    color: rgb(248, 248, 248);
    border-radius: var(--border-radius);
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px gray;
    white-space: nowrap;
}
.move_normal { background-color: rgb(168, 168, 120); }
.move_fire { background-color: rgb(240, 128, 48); }
.move_water { background-color: rgb(104, 144, 240); }
.move_grass { background-color: rgb(120, 200, 80); }
.move_electric { background-color: rgb(248, 208, 57); }
.move_ice { background-color: rgb(152, 216, 216); }
.move_fighting { background-color: rgb(192, 48, 40); }
.move_poison { background-color: rgb(160, 64, 160); }
.move_ground { background-color: rgb(224, 192, 104); }
.move_flying { background-color: rgb(168, 144, 240); }
.move_psychic { background-color: rgb(238, 86, 135); }
.move_bug { background-color: rgb(168, 184, 46); }
.move_rock { background-color: rgb(184, 160, 56); }
.move_ghost { background-color: rgb(112, 88, 152); }
.move_dragon { background-color: rgb(115, 79, 248); }
.move_dark { background-color: rgb(112, 88, 72); }
.move_steel { background-color: rgb(184, 184, 208); }
.move_fairy { background-color: rgb(241, 162, 231); }

/*
 * Specific
 */

#app {
    height: 500px;
}

#loading-bar-c {
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}

#loading-bar {
    position: fixed;
    background-image:
        linear-gradient(to right, var(--col-light), GreenYellow);
    width: 0%;
    height: 2px;
}

#input {
    width: 25%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    font-size: 100%;
    text-align: center;
    border: none;
}

#suggestions-c {
    position: relative;
    width: 25%;
    height: 0px;
    margin: 0 auto;
}

#suggestions {
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,0.95);
    border-top: 1px solid var(--col-main);
    text-align: left;
    z-index: 1;
}

#suggestions p {
    margin: 0.5em;
    cursor: pointer;
}

.selected-suggestion {
    background-color: var(--col-so-off);
}

#containers-father {
    display: flex;
    height: 170px;
    justify-content: center;
    align-items: center;
}

#previous-containers { justify-content: right; }

#next-containers { justify-content: left; }

#additional-containers {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#additional-containers > div {
    margin: 30px 15px 0px 15px;
}

#buttons-container { display: none; }

#buttons-container button {
    margin: 1em 0.5em 1em 0.5em;
}

#maingames { display: none; }

#not-released { display: none; }

#pokemongo {
    display: none;
}

#max-cp-div {
    width: 0;
    height: 0;
    position: relative;
    left: 150px;
    top: -0.6em;
}

#max-cp {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.25em;
}

#pokemongo-table {
    width: 100%;
    table-layout: fixed;
}

#pokemongo-table .sortable {
    cursor: pointer;
    text-decoration: underline;
}
